In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../samples/zillow.csv')

In [13]:
df

    Sr  Sqft  Beds  Baths    Zip  Year   Price
0    1  2222     3    3.5  32312  1981  250000
1    2  1628     3    2.0  32308  2009  185000
2    3  3824     5    4.0  32312  1954  399000
3    4  1137     3    2.0  32309  1993  150000
4    5  3560     6    4.0  32309  1973  315000
5    6  2893     4    3.0  32312  1994  699000
6    7  3631     4    3.0  32309  1996  649000
7    8  2483     4    3.0  32312  2016  399000
8    9  2400     4    4.0  32312  2002  613000
9   10  1997     3    3.0  32311  2006  295000
10  11  2097     4    3.0  32311  2016  290000
11  12  3200     5    4.0  32312  1964  465000
12  13  4892     5    6.0  32311  2005  799900
13  14  1128     2    1.0  32303  1955   89000
14  15  1381     3    2.0  32301  2006  143000
15  16  4242     4    5.0  32303  2007  569000
16  17  2533     3    2.0  32310  1991  365000
17  18  1158     3    2.0  32303  1993  155000
18  19  2497     4    4.0  32309  1990  289000
19  20  4010     5    3.0  32309  2002  549900